h1 {
  font:status-bar;
  color: rgb(255, 255, 255);
  font-size: 100px;
  line-height: 200px;
  height: 200px;
  padding: 250px 0;
  text-align: center;
  }

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("BG-mainpage.jpg"); 
    background-color: #cccccc;
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  }

img {
  display: none
}
