h1 {
  font:status-bar;
  color: rgb(255, 255, 255);
  font-size: 100px;
  line-height: 200px;
  height: 200px;
  padding: 250px 0;
  text-align: center;
  }

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("BG-mainpage.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

img {
  display: none
}